numpy
opencv_contrib_python
tensorflow
pandas
seaborn
matplotlib
streamlit
gdown
Pillow
h5py
torch
torchvision
accelerate
git+https://github.com/huggingface/peft.git
adapter-transformers
datasets
